<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="../public/assets/css/blog.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-xxl pe-4 ps-4">
      <a class="navbar-brand me-5" href="#"><img src="../public/assets/image/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">Add My Project </a>
          </li>

          </li>

        </ul>
        {{!-- <form class="d-flex"> --}}

          <ul class="navbar-nav me-3 mb-2 mt-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
          </ul>

          <a class="btn btn-outline-dark rounded-3 pt-1" href="/contact-me">Contact me</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="blog">
        <div class="blog-form">
          <div class="form-container">
            <form action='/register' method="post"> 

                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="please text your name" name="name">
                    </div>

                    <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
                    </div>

                    <div class="mb-3 ">
                         <label for="inputPassword" class="col-sm-2 col-form-label">Password</label> 
                        <input type="password" class="form-control" id="inputPassword" name="password">
                    
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
           
            </form>
          </div>
        </div>
        
        </div>
      </div>

 
    
</body>
</html>